$font: 'Open Sans';
$font-footer: 'Raleway';

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}


@import './colors';
@import './header';
@import './banner';
@import './navbanner';
@import './category';
@import './releases';
@import './blog';
@import './footer';


* {
  font-family: $font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, button {
  font: 400 1rem $font, sans-serif;
}

.toast-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  font: 300 0.75rem $font;
  
  width: 174px;
  padding: 12px 24px 12px 24px;
}